use flake

source_env_if_exists .secret.envrc

genSecret() {
  SECRET="$1"
  if [ ! -f "$SECRET" ]; then
    echo "Creating development cookie file"
    if [ -z "$2" ]; then
      dd if=/dev/urandom bs=1 count=64 | hexdump -e '64/1 "%02x"' >"$SECRET"
    else
      eval $2 >"$SECRET"
    fi
  fi
}

export SOWER_SERVER_CONFIG_FILE="$PWD/dev-server.json"

RELEASE_COOKIE_FILE="$PWD/.dev-cookie"
genSecret "$RELEASE_COOKIE_FILE"
RELEASE_COOKIE=$(cat "$RELEASE_COOKIE_FILE")
export RELEASE_COOKIE

genSecret "$PWD/.dev-secret-key-base"
genSecret "$PWD/.dev-cloak-ecto" $PWD/bin/gen-cloak-key.exs

export ERL_AFLAGS="-kernel shell_history enabled -kernel shell_history_file_bytes 1024000"
