use flake

if [ -e .secret.envrc ]; then
  source .secret.envrc
fi

export RELEASE_COOKIE="$PWD/.dev-cookie"
if [ ! -f "$RELEASE_COOKIE" ]; then
  echo "Creating development cookie file"
  dd if=/dev/urandom bs=1 count=16 | hexdump -e '16/1 "%02x"' >"$RELEASE_COOKIE"
fi

export ERL_AFLAGS="-kernel shell_history enabled -kernel shell_history_file_bytes 1024000"
