use flake

dotenv_if_exists .secret.envrc

RELEASE_COOKIE_FILE="$PWD/.dev-cookie"
if [ ! -f "$RELEASE_COOKIE_FILE" ]; then
  echo "Creating development cookie file"
  dd if=/dev/urandom bs=1 count=64 | hexdump -e '64/1 "%02x"' >"$RELEASE_COOKIE_FILE"
fi
export RELEASE_COOKIE=$(cat $RELEASE_COOKIE_FILE)

export ERL_AFLAGS="-kernel shell_history enabled -kernel shell_history_file_bytes 1024000"
