<.header>
  Listing Repositories
</.header>

<.table
  id="repos"
  rows={@streams.repos}
  row_click={fn {_id, repo} -> JS.navigate(~p"/inputs/repos/#{repo}") end}
>
  <:col :let={{_id, repo}} label="name"><%= repo.url %></:col>
  <:action :let={{_id, repo}}>
    <div class="sr-only">
      <.link navigate={~p"/inputs/repos/#{repo}"}>Show</.link>
    </div>
  </:action>
</.table>
