<.header>
  Listing Nix caches
  <:actions>
    <.link patch={~p"/nix/caches/new"}>
      <.button>New Cache</.button>
    </.link>
  </:actions>
</.header>

<.table
  id="nix_caches"
  rows={@streams.nix_caches}
  row_click={fn {_id, cache} -> JS.navigate(~p"/nix/caches/#{cache}") end}
>
  <:col :let={{_id, cache}} label="Url">{cache.url}</:col>
  <:col :let={{_id, cache}} label="Public key">{cache.public_key}</:col>
  <:action :let={{_id, cache}}>
    <div class="sr-only">
      <.link navigate={~p"/nix/caches/#{cache}"}>Show</.link>
    </div>
    <.link patch={~p"/nix/caches/#{cache}/edit"}>Edit</.link>
  </:action>
  <:action :let={{id, cache}}>
    <.link
      phx-click={JS.push("delete", value: %{id: cache.id}) |> hide("##{id}")}
      data-confirm="Are you sure?"
    >
      Delete
    </.link>
  </:action>
</.table>

<.modal
  :if={@live_action in [:new, :edit]}
  id="cache-modal"
  show
  on_cancel={JS.patch(~p"/nix/caches")}
>
  <.live_component
    module={SowerWeb.Nix.CacheLive.FormComponent}
    id={@cache.id || :new}
    title={@page_title}
    action={@live_action}
    cache={@cache}
    patch={~p"/nix/caches"}
  />
</.modal>
