<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="/lemmling-Cartoon-acorn.svg" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="Sower" suffix="">
      {assigns[:page_title] || "Sower"}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white dark:bg-zinc-900 text-zinc-900 dark:text-zinc-200 antialiased">
    <%!-- Avoid firefox flash of unstyled content --%>
    <script>
      0
    </script>
    {@inner_content}
  </body>
</html>
